.hotels-container {
  width: 90%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  color: $text-primary;
  justify-content: space-between;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.not-found-message {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  color: $color-secondary;
  text-align: center;
  flex-direction: column;
  overflow: hidden;

  h3,
  h4,
  p {
    margin-top: 20px;
  }
}
