html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

strong {
    font-weight: bolder;
}

img {
    border-style: none;
    display: block;
}

button,
input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}