//IMPORTS
@import "./normalize";
@import "./reset";

//VARIABLES
$white: #ffffff;
$bg-primary: #f1f2f8;
$bg-secondary: $white;
$color-primary: #2a4494;
$color-secondary: #3590f3;
$text-primary: rgba(00, 00, 00, 0.7);
$color-muted: #c4c4c4;
$font-primary: "Montserrat", sans-serif;

//MIXINS
@mixin fontLight {
  font-family: $font-primary;
  font-weight: 200;
}

@mixin fontNormal {
  font-family: $font-primary;
  font-weight: 400;
}

@mixin fontBold {
  font-family: $font-primary;
  font-weight: 700;
}

body {
  background-color: $bg-primary;
}

//STYLES
.main-container {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;

  @media screen and (max-width: 1024px) {
    font-size: 14px;
  }
}

.header {
  height: 25%;
  background-color: darken($color: $bg-secondary, $amount: 0.3);
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-logo {
    width: 20%;
    max-width: 300px;
    color: $color-secondary;
    display: flex;
    align-items: center;

    .logo-name {
      margin-left: 10px;
      font-size: 1.8rem;
      @include fontBold();
    }
  }

  .data-details-container {
    width: 60%;

    h3 {
      color: $color-secondary;
      @include fontBold();
    }

    .date-details {
      color: $color-primary;
      padding-top: 15px;
      padding-right: 10px;
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 768px) {
    height: auto;
    flex-direction: column;

    .main-logo {
      width: 90%;
      justify-content: center;
    }

    .data-details-container {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .date-details {
        padding-right: 0;
        text-align: center;
      }
    }
  }
}

.filter-bar {
  height: auto;
  width: 90%;
  background-color: $color-primary;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  label {
    color: $white;
  }

  .input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;

    input,
    select {
      height: 100%;
      max-width: 100%;
      margin-left: 3px;
      font-size: 0.8rem;
      border: none;
    }

    select {
      padding: 0;
    }
  }

  @media screen and (max-width: 768px) {
    justify-content: flex-start;
  }
}

.form-group {
  min-width: 230px;
}

.form-control input:focus,
.form-control select:focus {
  border: none;
  outline: 0;
  box-shadow: none;
}

.custom-select:focus,
.form-control:focus-within {
  border-color: $color-secondary;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(241, 242, 248, 0.5);
}

.hotels-container {
  width: 90%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  color: $text-primary;
  justify-content: space-between;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card-container {
  border: 0.2px solid #685f74;
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  max-width: 450px;
  margin: 0 auto;

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .btn-book {
    width: 100%;
    padding: 16px;
    background-color: $color-primary;
    color: $white;
    border-radius: 0px 0px 5px 5px;
    &:hover {
      background-color: darken($color: $color-primary, $amount: 5);
    }
    &:active {
      background-color: darken($color: $color-primary, $amount: 8);
    }
  }
}

.detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detail-icon {
  display: flex;
  padding: 0px;
  align-items: center;
  border: 0.2px solid #685f74;
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);

  i {
    background-color: $color-primary;
    color: $white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
  }

  p {
    padding: 10px;
    color: $color-primary;
    font-size: 0.8rem;
  }
}

.input-medium {
  width: 70%;
}

.price-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.2px solid #685f74;
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.price-active {
  color: $color-primary;
}

.price-muted {
  color: lighten($color: $text-primary, $amount: 30);
}

.page-loader {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(241, 242, 248, 0.98);
  color: $white;

  .main-logo {
    width: 40%;
    color: $color-secondary;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;

    .logo-name {
      margin-left: 10px;
      font-size: 1.8rem;
      @include fontBold();
    }
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid $color-secondary;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}

.body-loading {
  pointer-events: none;
  overflow: hidden;
  position: fixed;
  width: 100vw;
}

.not-found-message {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  color: $color-secondary;
  text-align: center;
  flex-direction: column;
  overflow: hidden;

  h3,
  h4,
  p {
    margin-top: 20px;
  }
}
