html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

strong {
  font-weight: bolder;
}

img {
  border-style: none;
  display: block;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}

p {
  margin: 0;
}

.main-container {
  background-color: #f1f2f8;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  .main-container {
    font-size: 14px;
  }
}

.header {
  height: 25%;
  background-color: #fefefe;
  padding: 20px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main-logo {
  width: 20%;
  max-width: 300px;
  color: #3590f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main-logo .logo-name {
  margin-left: 10px;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.header .data-details-container {
  width: 60%;
}

.header .data-details-container h3 {
  color: #3590f3;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.header .data-details-container .date-details {
  color: #2a4494;
  padding-top: 15px;
  padding-right: 10px;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .header {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .main-logo {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .data-details-container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .data-details-container .date-details {
    padding-right: 0;
    text-align: center;
  }
}

.filter-bar {
  height: auto;
  width: 90%;
  background-color: #2a4494;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-bar label {
  color: #ffffff;
}

.filter-bar .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

.filter-bar .input-container input,
.filter-bar .input-container select {
  height: 100%;
  max-width: 100%;
  margin-left: 3px;
  font-size: 0.8rem;
  border: none;
}

.filter-bar .input-container select {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .filter-bar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.form-group {
  min-width: 230px;
}

.form-control input:focus,
.form-control select:focus {
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-select:focus,
.form-control:focus-within {
  border-color: #3590f3;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(241, 242, 248, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(241, 242, 248, 0.5);
}

.hotels-container {
  width: 90%;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: dense;
  -ms-grid-columns: (minmax(390px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  color: rgba(0, 0, 0, 0.7);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .hotels-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .hotels-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.card-container {
  border: 0.2px solid #685f74;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}

.card-container .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-container .btn-book {
  width: 100%;
  padding: 16px;
  background-color: #2a4494;
  color: #ffffff;
  border-radius: 0px 0px 5px 5px;
}

.card-container .btn-book:hover {
  background-color: #304da8;
}

.detail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.2px solid #685f74;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.detail-icon i {
  background-color: #2a4494;
  color: #ffffff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px 0px 0px 5px;
}

.detail-icon p {
  padding: 10px;
  color: #2a4494;
  font-size: 0.8rem;
}

.input-medium {
  width: 70%;
}

.price-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.2px solid #685f74;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.price-active {
  color: #2a4494;
}

.price-muted {
  color: rgba(77, 77, 77, 0.7);
}
/*# sourceMappingURL=styles.css.map */