//IMPORTS
@import "./normalize";
@import "./reset";

//VARIABLES
$white: #ffffff;
$bg-primary: #f1f2f8;
$bg-secondary: $white;
$color-primary: #2a4494;
$color-secondary: #3590f3;
$text-primary: rgba(00, 00, 00, 0.7);
$color-muted: #c4c4c4;
$font-primary: "Montserrat", sans-serif;

//MIXINS
@mixin fontLight {
  font-family: $font-primary;
  font-weight: 200;
}

@mixin fontNormal {
  font-family: $font-primary;
  font-weight: 400;
}

@mixin fontBold {
  font-family: $font-primary;
  font-weight: 700;
}

//STYLES
.main-container {
  height: 100vh;
  background-color: $bg-primary;
  font-family: $font-primary;
  margin: 0;
  padding: 0;
}

.header {
  height: 25%;
  background-color: $bg-secondary;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-logo {
    width: 20%;
    max-width: 300px;
    color: $color-secondary;
    padding: 20px;
    display: flex;
    align-items: center;

    .logo-name {
      margin-left: 10px;
      font-size: 1.8rem;
      @include fontBold();
    }
  }

  .data-details-container {
    width: 60%;

    h3 {
      color: $color-secondary;
      @include fontBold();
    }

    .date-details {
      color: $color-primary;
      padding-top: 15px;
      padding-right: 10px;
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 768px) {
    height: auto;
    flex-direction: column;

    .main-logo {
      width: 90%;
      justify-content: center;
    }

    .data-details-container {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .date-details {
        padding-right: 0;
        text-align: center;
      }
    }
  }
}
